* {
  font-family: "Roboto", sans-serif;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
  background-color: #fafafa;
}

.MuiTypography-body1 {
  font-size: 1.4rem;
}

a.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:hover {
  color: #f50057;
}

span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1:hover {
  color: #f50057;
  font-weight: 500;
  transition: 0.3s ease-in;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

a:hover {
  color: #f50057;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  color: #f50057;
}

.highlighted {
  color: #f50057;
  font-weight: 600;
}

/* Pages */

.pageHeader {
  margin-top: 50px;
}

.pageTitle {
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
  margin-bottom: 0px;
}

h4.headerDesc {
  font-size: 1.2rem;
  margin-top: 2px;
  font-weight: 500;
  animation-duration: 2s;
}

/* HomePage Illustration */
.animated.fadeInRightBig.headerImageIntro {
  animation-delay: 1s;
  animation-duration: 2s;
}

g#Ball {
  width: 700px;
}

.sectionTwoFluidWrapper {
  height: 300px;
  background: linear-gradient(180deg, #f5f5f5, transparent);
  margin-top: 50px auto;
  margin-top: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #212121;
  text-align: center;
}

h3.MuiTypography-root.sectionTwoContent.MuiTypography-h3.MuiTypography-alignCenter {
  font-family: "Anton", sans-serif;
}

span.standOutText {
  font-family: "Anton", sans-serif;
  color: #f50057;
}

.sectionThreeFluidWrapper {
  margin-top: 100px;

  background-color: #f50057;
  padding-top: 50px;
  padding-bottom: 50px;
}
