* {
  font-family: "Roboto", sans-serif;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
  background-color: #fafafa;
}

.MuiTypography-body1 {
  font-size: 1.4rem;
}

a.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:hover {
  color: #f50057;
}

span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1:hover {
  color: #f50057;
  font-weight: 500;
  transition: 0.3s ease-in;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

a:hover {
  color: #f50057;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  color: #f50057;
}
